.graph-grid {
  max-width: 980px;
  margin: 0 auto;
}

.graph-head {
  color: black;
  font-weight: 500;
}

.l-box {
  padding: 0.5em 2em;
}

#menu {
  padding: 0.5em;
  /*text-align: center;*/
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background: #191818;
  color: #fff;
}

#menu > .pure-menu-heading {
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 0;
    padding: 0.5em 0.8em;
    text-transform: uppercase;
}

#menu > .pure-menu-heading:hover {
  color: #e6e6e6;
}

main {
  margin-top: 70px;
}
